.banner-success {
    @include background-image($banner-checkout-url, auto, $banner-checkout-height, cover);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: $spacing-lg;
    h2 {
        @include background-image($banner-checkout-title-url, $banner-checkout-title-width, $banner-checkout-title-height);
        @include hide-text;
        margin-bottom: 50px;
    }
}

.checked {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-md;
    .line {
        border-top: 1px solid $text-primary;
        width: 59px;
        transform: translateY(50%) scaleX(1.2);
    }
}

.continue-link {
    @include link($text-primary, $text-primary, $hover-bgc-secondary, 0, $bgc-secondary);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 14.5px 102px;
    @include mobile-576 {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
}