h1 {
    font-size: 1.2rem;
    a {
        @include hide-text;
        @include background-image($logo-url, $logo-width, $logo-height);
    }
}

.navbar {
    &-toggler:focus {
        outline: none;
    }
    &-num {
        padding: 0.5px 5px;
        left: 70%;
        bottom: 60%;
    }
}