.banner {
    &-title {
        font-size: 40px;
    }
    &-content {
        font-size: 24px;
    }
}

.banner-index {
    @include background-image($banner-index-url, 100%, $banner-height, cover);
}

@include media-breakpoint-down(xs) {
    .banner {
        &-title {
            font-size: 32px;
        }
        &-content {
            font-size: 20px;
        }
    }
    .banner-index {
        @include background-image($banner-index-mobile-url, 100%, $banner-mobile-height, cover);
    }
}

.sold-out {
    background-color: rgba(#000000, 0.3);
    left: 0;
    top: 0;
    h4 {
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}