.mypage-nav a {
    &::after {
        content: '';
        display: block;
        border-bottom: 2px solid #916000;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: 0% 50%;
    }
    &:hover:after {
        transform: scaleX(1);
    }
}

.mypage-nav .active {
    border-bottom: 2px solid #916000;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: $custom-mypage-select-indicator no-repeat;
    background-size: $custom-mypage-select-bg-size;
    background-position: 95% 50%;
}