@mixin background-image($image-url, $image-size: contain) {
    background-image: url($image-url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $image-size;
}