.btn-border-primary {
    @include button-variant(#ffffff, #916000, #916000, #916000);
    @include button-outline-variant(#916000, #ffffff);
}

.btn-border-white {
    border: 2px solid;
    &:hover {
        background-color: rgba( #ffffff, 0.25);
        color: #ffffff;
    }
}

.btn-border-black {
    border: 2px solid;
    &:hover {
        background-color: rgba(#000000, 0.1);
        color: #000000;
    }
}