@mixin btn($color: $text-primary, $hover-color: $text-secondary, $hover-bgc: $hover-bgc-dark, $radius: 0, $bgc: rgba(0, 0, 0, 0)) {
    border: none;
    outline: none;
    background-color: $bgc;
    color: $color;
    border-radius: $radius;
    text-align: center;
    cursor: pointer;
    transition: .3s linear;
    &:hover {
        background-color: $hover-bgc;
        color: $hover-color;
    }
}